/*Підвал*/

.footer {
    background-color: var(--background-color-secondary);
    color: var(--white-color);
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    padding-top: 60px;
    padding-bottom: 60px;

    &__address {
            margin-top: 28px;
        }
    
        &__address-text {
            font-style: initial;
            margin-bottom: 12px;
        }
    
    
        &__contact {
            color: #FFFFFF;
            font-style: normal;
            text-decoration: none;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 250ms;
            transition-property: color;
        }
    
        &__mail {
            margin-bottom: 12px;
        }
    
        &__contact:hover,
        &__contact:focus {
            color: var(--accent-color);
    
        }
    
        /*Join*/
    
        &__join {
            margin-left: 70px;
        }
    
        &__join-title {
            color: var(--white-color);
            text-transform: uppercase;
            font-weight: 700px;
            font-size: 14px;
            line-height: 1.14;
    
            margin-bottom: 20px;
    
        }

}








/*Sign*/

.sign {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    margin-left: 93px;

    &__title {
            margin-bottom: 20px;
            font-weight: 700px;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
    
        }
}

.form-sign {
    display: flex;
    align-items: center;

    &__input {
            height: 50px;
            width: 100%;
            font-weight: 400px;
            padding: 15px 295px 15px 16px;
            border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            ;
            font-size: 16px;
            line-height: 1.25;
            padding-left: 16px;
            background-color: transparent;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            color: rgba(255, 255, 255, 0.6);
            outline: none;
        }
}

