

.checkbox {
    position: relative;
    justify-content: center;
    display: flex;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    font-weight: 400;
    margin-bottom: 30px;

    &__input {
        appearance: none;
        margin-right: 12px;
    }


   &__icon {
       fill: transparent;
       border: 0.2px solid var(--secondary-text-color);
            position: absolute;
            transform: translate(-50%);
            top: 4px;
            left: 25px;
            width: 16px;
            height: 15px;
        }

}





.checkbox__input:checked+.checkbox__icon {
    fill: var(--white-color);
    border: transparent;
    background-color: var(--accent-color);
}